.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky !important;
    top: 0;
    z-index: 100;
    justify-content: space-evenly;
}
.shop__logo {
    width: 48px;
}
.header__welcomeLine{
    margin-top: 12px;
    color: #Dc3545;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    text-align: center;
}
.header__optionBasket{
display: flex;
align-items: center;
margin-top: 4px;
color:darkorange
}
.header__optionBasketCount{
margin-right: 10px;
margin-left: 10px;
}